
:root {
    --high-contrast : #f9faf8;
    --low-contrast: #e5e7eb;
    --button-color : #3882f6;
}

html, body {
    margin: 0;
}

.responsive-size{
    
    height: 540px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.gray-background-gradient {
    background: rgb(85,95,110);
    background: -moz-linear-gradient(0deg, rgba(85,95,110,1) 0%, rgba(31,41,55,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(85,95,110,1) 0%, rgba(31,41,55,1) 100%);
    background: linear-gradient(0deg, rgba(85,95,110,1) 0%, rgba(31,41,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#555f6e",endColorstr="#1f2937",GradientType=1);

}

.low-contrast{
    color: var(--low-contrast);
}

.high-contrast {
    color: var(--high-contrast);
}

.roboto-font-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.roboto-font-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


nav {
    max-width: 900px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

nav > div {
    height: 100%;
}

#company-logo{
    height: 100%;
}

.nav-block-right {
    display: flex;
    align-items: center;
}

.nav-link{
    font-size: 18px;
    color:  var(--low-contrast);
    text-decoration: none;
    margin: 25px;
}


.hero-container {
    display: flex;
    margin: 3em auto 0 auto;
    max-width: 900px;
}

.hero-column {
    width: 50%;
    margin-left: 20px;
    height: 1px;
}

.hero-title {
    width: 350px;
    font-size: 48px;
    margin-bottom: 0;
}

.subtext {
    font-size: 18px;
    margin: 0;
    width: 100% ;
}

.hero-image-column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 32px;
}

.hero-image {
    width: 100%;
    padding: 0 25px;
}

.sign-up {
    background-color: var(--button-color);
    color: var(--high-contrast);
    border: none;
    border-radius: 5px ;
    padding: 5px 15px;
    font-size: 18px
}


.info-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.rando-inf-title {
    text-align: center;
}

.info-pic {
    height: 150px;
    width: 150px;
    border: 3px solid var(--button-color);
    border-radius: 15px;
}

.rando-inf-subtext {
    width: 160px;
    text-align: center;
}


#quote-section {
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    width: 750px;
}


.quote-citation {
display: flex;
justify-content: flex-end;
font-size: 22px;
margin-right:  50px;
}

#call-to-action-section{ 
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 90px;
}


.action-container {
    padding: 30px;
    width: 900px;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.action-title, .action-subtitle {
    margin: 0; 
    color: var(--high-contrast);
}


.action-sign-up {
    background-color: transparent;
    border: 2px solid;
    transition-duration: 0.4s;
}

.action-sign-up:hover {
    background-color: var(--high-contrast);
    color: black;
    border: 2px solid;

}

.action-text {
    font-size: 20px;
}

.footer{
    width: 100%;
    display: flex;
    
}

    
.footer a{
    font-size: 25px;
    height: 100%;
    margin:auto;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
}

/*

@media screen and (max-width :1200px) {
    nav {
        max-width: 900px;
    }
}

@media screen and (min-width:){
    
}

*/